@import '../../assets/scss/define';

page{
    background-color: #f2f2f2;
}
.wrap{
    @extend %pr;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %bsb;
    @extend %oh;
}
.section{
    @extend %bsb;
    margin: j(20) 0;
    width: j(710);
    border: j(1) #d1d1d1 solid;
    background-color: #fff;
    border-radius: j(16);
}
.section-title{
    @extend %df;
    @extend %aic;
    @extend %cfff;
    font-size: j(30);
    height: j(80);
    padding: 0 j(20);
    border-top-left-radius: j(10);
    border-top-right-radius: j(10);
    background-image: linear-gradient(to left, #459350, #61bc70);
    .bar{
        width: j(10);
        height: j(30);
        background-color: #fff;
        border-radius: j(5);
        margin-right: j(20);
    }
}
.card-section{
    height: j(620);
    .section-title{
        @extend %df;
        @extend %aic;
        @extend %jcc;
        .logo{
            width: j(80);
            height: auto;
        }
    }
}
.card-content{

}
.card-item{
    @extend %df;
    @extend %aic;
    @extend %c3;
    @extend %oh;
    @extend %bsb;
    height: j(80);
    font-size: j(28);
    padding: 0 j(20);
    border-bottom: j(1) #e5e5e5 solid;
}
.card-icon{
    width: j(48);
    height: j(48);
    margin-right: j(20);
}
.card-text{
    @extend %df1;
    @extend %twno;
}

.oil-content{
    @extend %w100;
    height: j(420);
}
.oil-item{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    @extend %bsb;
    padding: 0 j(18) j(40);
}
.oil-cell{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %bsb;
    padding: j(5) j(5) 0;
    width: j(220);
    height: j(360);
    background-color: #f8f8f8;
    &.null{
        background-color: #fff;
    }
}
.oil-top{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(210);
    height: j(185);
    background-color: #fff;
    margin-bottom: j(5);
}
.oil-image{
    width: j(100);
    height: auto;
}
.oil-type{
    @extend %dn;
    @extend %pa;
    @extend %t0;
    @extend %l0;
    width: j(64);
    height: auto;
}
.oil-name{
    @extend %w100;
    @extend %c3;
    @extend %tac;
    font-size: j(20);
    line-height: j(26);
    height: j(52);
}
.oil-tag{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fww;
    margin-top: j(5);
}
.oil-tag-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(82);
    height: j(26);
    font-size: j(18);
    margin: 0 j(5);
    color: #568a51;
    background-color: #d4e0d4;
    border-radius: j(10);
}
.oil-prompt{
    @extend %df;
    @extend %aic;
    @extend %w100;
    @extend %jcc;
    @extend %fdc;
    @extend %tac;
    font-size: j(18);
    height: j(72);
    line-height: 1.5;
}
.oil-flex{
    @extend %df1;
    @extend %w100;
}
.hot-cell{
    .oil-prompt{
        @extend %cfff;
        background-color: #7fc341;
        border-bottom-left-radius: j(16);
        border-bottom-right-radius: j(16);
    }
    .oil-type{
        @extend %db;
    }
}


.speed-content{
    background-color: #f8f8f8;
    margin: j(20);
    border-radius: j(6);
    padding: j(10);
}
.speed-item{
    @extend %df;
    @extend %pr;
    @extend %aic;
    padding: j(8) 0;
    &:first-child{
        padding: j(16) 0;
    }
    &.active{
        border-radius: j(6);
        background-color: #fff;
        .oil-type{
            @extend %db;
        }
        .speed-image{
            @extend %oh;
            height: j(180);
        }
    }
}
.speed-image{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(180);
}
.speed-icon{
    width: j(100);
    height: auto;
}
.speed-info{
    @extend %df1;
    @extend %df;
    @extend %fdc;
    @extend %c6;
    font-size: j(20);
}
.speed-info-title{
    @extend %c3;
    font-size: j(24);
    margin-bottom: j(20);
}
.speed-info-prompt{
    @extend %df;
    //@extend %aic;
    @extend %oh;
    padding: j(5) j(5) j(5) 0;
    line-height: 1.3;
    .color{
        @extend %cp;
        color: #568a51;
        margin: 0 j(16) 0 j(5);
        text-decoration: underline;
        //border-bottom: j(1) #568a51 solid;
    }
    &.line-height{
        line-height: 1.8;
    }
}
.speed-info-value{
    @extend %df1;
    @extend %df;
    @extend %fdc;
}

.advert-section{
}
.advert-item{
    width: j(710);
}
.advert-title{
    @extend %df;
    @extend %aic;
    @extend %c3;
    padding: 0 j(20);
    font-size: j(32);
    height: j(80);
}
.advert-image{
    width: j(710);
    height: auto;
}

.tel-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    @extend %cp;
    font-size: j(28);
    margin: j(20) 0 j(40);
    width: j(300);
    height: j(70);
    border-radius: j(10);
    background-color: #459350;
}
