@import "./../define";
.wrap{
    @extend %df;
    @extend %aic;
    height: wx(90);
    padding: 0 wx(32);
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.inner{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %h100;
    @extend %bsb;
}
.label{
    @extend %db;
    font-size: wx(32);
    color: #333;
}
.value{
    @extend %df1;
    @extend %tar;
    @extend %db;
    font-size: wx(32);
    color: #333;
}
.arrow{
    margin-left: wx(12);
    width: wx(20);
    height: wx(20);
    border-top: wx(2) solid #ddd;
    border-right: wx(2) solid #ddd;
    transform: rotate(45deg);
}
