@import "../../assets/scss/define";
@import "../../assets/scss/skin";

.header{
    @extend %pr;
    @extend %df;
    @extend %aic;
    height: wx(200);
    padding: 0 wx(32);
    background-color: $mainColor;
    justify-content: space-between;
}

.info{
    @extend %pa;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
}
.amount-item{
    text{
        @extend %db;
        @extend %cfff;
        font-size: wx(32);
    }
    &.right{
        text{
            @extend %tar;
        }
    }
}
.amount-label{

}
.amount-value{

}


.append{
    @extend %pa;
    @extend %l50;
    @extend %oh;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %b0;
    width: wx(200);
    height: wx(200);
    background-color: #fff;
    border-radius: 50%;
    transform: translate3d(-50%, 50%, 0);
    image{
        @extend %db;
        width: wx(180);
        height: wx(180);
        border-radius: 50%;
        background-color: red;
    }
}
