@import "../../assets/scss/define";
@import "../../assets/scss/skin";

.header{
    @extend %pr;
    @extend %df;
    align-items: flex-end;
    height: wx(200);
    padding: 0 wx(32);
    background-color: $mainColor;
    justify-content: space-between;
}

.info{
    @extend %pa;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
}
.amount-item{
    line-height: 1.5;
    text{
        @extend %db;
    }
    &.right{
        text{
            @extend %tar;
        }
        .amount-value{
            color: red;
        }
    }
}
.amount-label{
    @extend %cfff;
    font-size: wx(28);
}
.amount-value{
    font-size: wx(42);
}
.append{
    @extend %pa;
    @extend %l50;
    @extend %oh;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %b0;
    width: wx(200);
    height: wx(200);
    background-color: #fff;
    border-radius: 50%;
    transform: translate3d(-50%, 50%, 0);
    image{
        @extend %db;
        width: wx(180);
        height: wx(180);
        border-radius: 50%;
        background-color: red;
    }
}

.list{
    @extend %df;
    @extend %fdc;
    @extend %pr;
    margin-top: wx(120);
}
.list-bar{
    @extend %pa;
    @extend %t0;
    @extend %b0;
    @extend %l50;
    width: wx(1);
    transform: translate3d(-50%, 0, 0);
    background-color: red;
}
.list-session{
    @extend %pr;
    @extend %df;
    @extend %aic;
    margin-bottom: wx(20);
    &.session-top{

    }
}
.session-item{
    @extend %df1;
    @extend %df;
    @extend %aic;
    text{
        @extend %db;
        @extend %c6;
        font-size: wx(28);
    }
    &.left{
        justify-content: flex-end;
    }
}
.session-center{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: wx(120);
    margin: 0 wx(20);
}
.session-spot{
    width: wx(20);
    height: wx(20);
    border-radius: 50%;
    background-color: red;
}
.session-icon{
    width: wx(60);
    height: wx(60);
    border-radius: 50%;
    background-color: #ffe925;
}
