@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #f2f2f2;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %bsb;
    @extend %h100;
    @extend %oh;
}
.search-section{
    @extend %pr;
    height: j(60);
    margin: j(15) 0;
    width: j(710);
    border-radius: j(10);
    background-color: #fff;
}
.search-image{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(60);
    height: j(60);
}
.search-icon{
    width: j(40);
    height: j(40);
}
.search-input{
    @extend %w100;
    @extend %bsb;
    @extend %h100;
    font-size: j(30);
    line-height: j(60);
    background-color: transparent;
    padding: 0 j(20) 0 j(80);
}
.list-section{
    @extend %pr;
    @extend %df1;
    @extend %w100;
    height: j(200);
}
.dt{
    @extend %df;
    @extend %aic;
    font-size: j(32);
    height: j(60);
    background-color: #ddd;
    padding: 0 j(40);
}
.dd{
    @extend %df;
    @extend %aic;
    @extend %cp;
    @extend %c3;
    height: j(100);
    background-color: #fff;
    padding: 0 j(20);
    font-size: j(32);
}
.logo{
    width: j(60);
    height: auto;
    margin-right: j(20);
}
.text{
    @extend %df1;
    @extend %twno;
    height: j(100);
    line-height: j(100);
}
.tag-section{
    @extend %pa;
    @extend %t0;
    @extend %b0;
    @extend %r0;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    padding-right: j(32);
}
.tag-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c3;
    @extend %cp;
    width: j(50);
    height: j(45);
    margin-top: j(5);
    font-size: j(22);
}
.tag-prompt{
    @extend %pa;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %t50;
    @extend %l50;
    @extend %cfff;
    margin-top: j(-50);
    margin-left: j(-50);
    font-size: j(32);
    border-radius: j(10);
    width: j(100);
    height: j(100);
    background-color: rgba(0, 0, 0, .5);
}
.result-prompt{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c9;
    font-size: j(30);
    height: j(200);
}
