@import "../../assets/scss/define";
@import "../../assets/scss/skin";
page{
    @extend %h100;
    background-color: #f8f8f8;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %h100;
}
.header{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: wx(200);
    padding: 0 wx(32);
    background-color: $mainColor;
}
.user-wrap{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    image{
        border-radius: 50%;
        width: wx(100);
        height: wx(100);
        background-color: red;
    }
    text{
        margin-top: wx(20);
        font-size: wx(28);
        color: #fff;
    }
}
.entry-wrap{
    margin-top: wx(20);
    background-color: #fff;
}
.entry-item{
    @extend %df;
    @extend %aic;
    padding-left: wx(32);
    height: wx(90);
    image{
        width: wx(50);
        height: wx(50);
    }
    &:last-child{
        .entry-con{
            border-bottom: none;
        }
    }
}
.entry-con{
    @extend %df1;
    @extend %df;
    @extend %bsb;
    @extend %aic;
    @extend %h100;
    border-bottom: wx(1) solid #ddd;
    padding-right: wx(32);
    text{
        @extend %db;
        font-size: wx(32);
        color: #666;
    }
    .entry-value{
        @extend %df1;
    }
}
.entry-arrow{
    width: wx(20);
    height: wx(20);
    border-top: wx(2) solid #ddd;
    border-right: wx(2) solid #ddd;
    transform: rotate(45deg);
}
